<aside class="ant-layout-sider ant-layout-sider-light">
  <!-- avatar title description -->
  <div class="ant-header">
    <div>
      <a href="/">
        <img class="avatar" src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>" alt="">
      </a>
      <h1 class="ant-title"><%= themeConfig.siteName %></h1>
    </div>
    <p class="ant-description"><%- themeConfig.siteDescription %></p>
  </div>
  <!-- menu container -->
  <div class="sider-menu">
    <ul class="ant-menu-container">
      <% menus.forEach(function(menu) { %>
        <% if (menu.openType === 'External') { %>
          <li class="ant-menu-item">
            <a href="<%= menu.link %>"><%= menu.name %></a>
          </li>
        <% } else { %>
          <li class="ant-menu-item">
            <a href="<%= menu.link %>"><%= menu.name %></a>
          </li>
        <% } %>
      <% }); %>
    </ul>
  </div>
  <!-- footer -->
  <%- include('./footer.ejs') %>
</aside>
