<!DOCTYPE html>
<html 
  lang="<%- site.customConfig.lang ? site.customConfig.lang : "en" %>" 
  data-theme="<%- site.customConfig.theme ? site.customConfig.theme : "light" %>"
>
<head>
  <%- include('./includes/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
</head>
<body>
  <div class="__next">
    <section class="ant-layout">
      <!-- 菜单栏 -->
      <%- include('./includes/header') %>
      
      <!-- 内容 -->
      <main class="ant-layout-content scroll-bar main">
        <div class="ant-post-article">
          <article class="ant-post-detail">
            <!-- 标题 -->
            <h1 class="ant-detail-post-title"><%= post.title %></h1>
            <!-- 时间 标签 -->
            <div class="ant-detail-post-info">
              <time class="ant-detail-post-time">
                <i class="fa-solid fa-calendar-days"></i> 
                <%= post.dateFormat %>
              </time>
              <% post.tags.forEach(function(tag) { %>
                <a href="<%= tag.link %>" class="ant-detail-post-tags"><%= tag.name %></a>
              <% }); %>
            </div>
            <!-- 文章图片 -->
            <% if (themeConfig.showFeatureImage && post.feature) { %>
              <div class="ant-detail-post-feature-image" style="background-image: url('<%= post.feature %>')">
              </div>
            <% } %>
            <!-- 文章内容 -->
            <div class="ant-detail-post-content">
              <%- post.content %>
              <!-- 文章目录字段 -->
              <!-- <div class="ant-post-directory-fields">
                <div class="ant-directory-fields">
                  <i class="fa-regular fa-square-list"></i>
                </div>
                <%- post.toc %>
              </div> -->
            </div>
          </article>
        </div>

        <% if (post.nextPost && !post.hideInList) { %>
          <div class="next-post">
            <div class="next">下一篇</div>
            <a href="<%= post.nextPost.link %>">
              <h3 class="post-title">
                <%= post.nextPost.title %>
              </h3>
            </a>
          </div>  
        <% } %>

        <!-- 评论 GitHub问题评论提交 -->
        <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
          <% if (commentSetting.commentPlatform === 'gitalk') { %>
            <%- include('./includes/gitalk') %>
          <% } %>

          <% if (commentSetting.commentPlatform === 'disqus') { %>
            <%- include('./includes/disqus') %>
          <% } %>
        <% } %>

      </main>
      <%- include('./includes/small') %>
    </section>
    <%- include('./includes/back-top') %> 
    <!-- <%- include('./includes/load.ejs') %> -->
  </div>
</body>
</html>

<script>
  $(function () {
    $(".ant-directory-fields").click(function (e) { 
      e.preventDefault();

      $(".ant-directory-fields+.markdownIt-TOC").stop().slideToggle(300, function () {
        
      });
    });
  })
</script>
