<!DOCTYPE html>
<html 
  lang="<%- site.customConfig.lang ? site.customConfig.lang : "en" %>" 
  data-theme="<%- site.customConfig.theme ? site.customConfig.theme : "light" %>"
>
<head>
  <%- include('./includes/head', { siteTitle: `${tag.name} | ${themeConfig.siteName}` }) %>
</head>
<body>
  <div class="__next">
    <section class="ant-layout">
      <!-- 菜单栏 -->
      <%- include('./includes/header') %>
      
      <!-- 内容 -->
      <main class="ant-layout-content scroll-bar main">
        <div class="ant-tag-container">
          <div class="ant-post" style="margin-bottom: 0;margin: 20px 25px 0 25px;">
            <h2 class="ant-tag-title">标签：#<%= tag.name %></h2> 
          </div>
          <%- include("./includes/post-list.ejs") %> 
          <%- include('./includes/pagination') %>
      </div>
      </main>
      <%- include('./includes/small') %>
    </section>
    <%- include('./includes/back-top') %> 
    <!-- <%- include('./includes/load.ejs') %> -->
  </div>
</body>
</html>
